@*@model WebGiay.Models.Product*@
@using WebGiay.Models;
@using PagedList.Mvc;
@model  PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div >
<h3 style="text-align:center">Kết quả tìm kiếm:</h3>
</div>
<div class="row px-xl-5 pb-3">
    @foreach (var item in Model)
    {

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="~/Content/images/@item.ImagePro" style="width:200px;height:200px" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">@Html.DisplayFor(model => item.NamePro) </h6>
                    <div class="d-flex justify-content-center">
                        <h6>@Html.DisplayFor(model => item.Price)</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="/Products/ProDetail/@item.ProductID" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>View Details</a>
                    <a href="/Cart/AddToCart/@item.ProductID" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>

        </div>
    }
</div>

