
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div style="text-align:center;font-family:Arial">
    <h2 >ThankYou</h2>
    <h2 >Đơn hàng của bạn sẽ được giao trong thời gian sớm nhất</h2>
    <a href="~/Home/Index">Tro lai trang chu</a>
</div>

